{% load i18n static admin_datta %}

<div class="h-100">
    <p> I once spent 3 months writing literally 5 lines of code in total. Managers loved my performance and praised me
        for months. Was I slacking? No. Was I avoiding writing code? No. Was it fun to only write this amount? No. It
        took very long time to untangle issues we had in system. Once hard work was done, fix was trivial. It is a bit
        like this joke about fixing a machine with a hammer. Old engineer has been called up to misbehaving machine that
        company couldn’t fix.
    </p>
    <p>
        So what is “browsing internet” in daily job? Is looking through documentation ok? Maybe Stack Overflow answers
        too? What if I’m looking through libraries on GitHub that will reduce my work from month to 2 days, is that not
        “working”? I hope you see the problem with this judgement.
    </p>
    <p>
        So what is “browsing internet” in daily job? Is looking through documentation ok? Maybe Stack Overflow answers
        too? What if I’m looking through libraries on GitHub that will reduce my work from month to 2 days, is that not
        “working”? I hope you see the problem with this judgement.
    </p>
</div>