{% load i18n static admin_datta %}

<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="{% url 'index' %}" class="b-brand" style="text-decoration: none;">
                <div class="">

                </div>
                <i class="fa-sharp fa-solid fa-comments-question-check"></i>
                <span class="b-title">Sawal Jawab</span>
            </a>
        </div>
        <div>
            <label>
                <i class="icon feather icon-sun" id="theme-indicator">Switch Theme</i>
                <input type="checkbox" id="theme-switch" class="d-none"></label>
            </label>
        </div>
    </div>
</nav>